<!doctype html>
{% load static %}


<html lang="en">

    <head>

        <meta charset="utf-8" />
        <title>ADAMA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon2.ico' %}">

        <!-- DataTables -->
        <link href="{% static 'libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}" rel="stylesheet"
            type="text/css" />
        <link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}" rel="stylesheet"
            type="text/css" />

        <!-- Responsive datatable examples -->
        <link href="{% static 'libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css' %}"
            rel="stylesheet" type="text/css" />

        <!-- preloader css -->
        <link rel="stylesheet" href="{% static 'css/preloader.min.css' %}" type="text/css" />

        <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static 'css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <!-- start password validation -->
        <script>
            function validateForm() {
            //collect form data in JavaScript variables
            var pw1 = document.getElementById("password").value;
            var pw2 = document.getElementById("reenterpassword").value;

            if(pw1 != pw2) {
            document.getElementById("passwordmsg").innerHTML = "**Passwords are not same";
            return false;
            }
            }
        </script>
        <!-- end password validation -->

    </head>

    <body data-topbar="dark">

    <!-- <body data-layout="horizontal"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            {% include 'sidebar-base.html' %}

            {% include 'navbar-base.html' %}


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">
                        <!-- breadcrumb -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Add Chemical</h4>
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="/home">Dashboard</a></li>
                                            <li class="breadcrumb-item active"><a href="/batchcard">View</a></li>
                                            <li class="breadcrumb-item active">Add Chemical</li>

                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- start add Chemical popup -->
                        <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog" aria-hidden="true" id="register">
                            <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px;">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add Chemical Receipe</h5>
                                        <button type="button" class="btn-close" style="padding: 0rem 2rem; width: 2px" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <!-- new form start (18-Apr) class="needs-validation" novalidate -->
                                        <form method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-12">
                                                    <!-- Card Body Start -->
                                                    <div class="card-body p-4">
                                                        <!-- card 2 start -->
                                                        <div class="card">
                                                            <div class="card-body p-4">
                                                                    <!-- row 3 Start -->
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                    <div class="row mb-4">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-12 col-form-label form-label" for="validationCustom01">Select Combination Technical</label>
                                                                                            <select class="form-select" type="select" name = "chemical" id="validationCustom01"  required>
                                                                                                <option value="">Select</option>
                                                                                                {%for item in chemicals%}
                                                                                                <option value="{{item.Name}}">{{item.Name}}</option>
                                                                                                {% endfor %}
                                                                                            </select>
                                                                                            <div class="valid-feedback">
                                                                                                Looks good!
                                                                                            </div>
                                                                                            <div class="invalid-feedback">
                                                                                                Please Select Combination Technical.
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label" >Date</label>
                                                                                            <input type="text" class="form-control" value="{{date_time.date}}" name = "date" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label">Time</label>
                                                                                            <input type="text" class="form-control" value="{{date_time.time}}" name = "time" readonly>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label form-label" for="validationCustom04">Quantity Added</label>
                                                                                            <input type="number" pattern="[0-9]+([.,][0-9]+)?" step="0.01" class="form-control" name="addqty" id="validationCustom04"  required>
                                                                                            <div class="valid-feedback">
                                                                                                Looks good!
                                                                                            </div>
                                                                                            <div class="invalid-feedback">
                                                                                                Please Enter Quantity Added.
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label form-label" for="validationCustom05">Name</label>
                                                                                            <input type="text" class="form-control" name="createdby" id="validationCustom05"  required>
                                                                                            <div class="valid-feedback">
                                                                                                Looks good!
                                                                                            </div>
                                                                                            <div class="invalid-feedback">
                                                                                                Please Enter Quantity Added.
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- row 3 End -->
                                                                    <!-- row 6 Start -->
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                <div class="col-lg-3">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-8">
                                                                                            <button type="submit" class="btn btn-success w-md" name="add_chemical">Submit</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- row 6 End -->
                                                            </div>
                                                        </div>
                                                        <!-- card 2 end -->
                                                    </div>
                                                    <!-- Card Body End -->
                                                </div> <!-- end col -->
                                            </div>
                                        </form>
                                        <!-- new form end (18-Apr)-->
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>
                        <!-- end add chemical popuo -->
                        <!-- start create sample popup -->
                        <div class="modal fade bs-example-modal-center" tabindex="-1" role="dialog"
                                aria-hidden="true" id="sample">
                                <div class="modal-dialog modal-dialog-centered" style="max-width: 1200px;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Create Sample</h5>
                                            <button type="button" class="btn-close"
                                                style="padding: 0rem 2rem; width: 2px"
                                                data-bs-dismiss="modal" aria-label="Close" name="sample">
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <!-- new form start (18-Apr) class="needs-validation" novalidate-->
                                                <form method="POST">
                                                {% csrf_token %}
                                                    <div class="row">
                                                        <div class="col-12">
                                                            <!-- Card Body Start -->
                                                            <div class="card-body p-4">

                                                            <!-- card 2 start -->
                                                            <div class="card">
                                                                <div class="card-body p-4">
                                                                    <!-- row 3 Start -->
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                <div class="col-lg-6">
                                                                                        <div class="row mb-4">
                                                                                            <div class="col-sm-12">
                                                                                                <label class="col-sm-12 col-form-label form-label" for="validationCustom03">Select Sample Type</label>

                                                                                                <select class="form-select" name = "sample_type" type="select" id="validationCustom03"  required>
                                                                                                <option value="">Select</option>
                                                                                                {%for item in sample_list%}
                                                                                                <option value="{{item}}">{{item}}</option>
                                                                                                {% endfor %}
                                                                                                </select>
                                                                                                <div class="valid-feedback">
                                                                                                    Looks good!
                                                                                                </div>
                                                                                                <div class="invalid-feedback">
                                                                                                    Please Select Sample Type.
                                                                                                </div>
                                                                                            </div>

                                                                                        </div>
                                                                                </div>

                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label">Date</label>

                                                                                            <input type="date" class="form-control" value="{{date_time.date}}" name = "date">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label">Time</label>
                                                                                            <input type="time" class="form-control" value="{{date_time.time}}" name = "time">
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label form-label" for="validationCustom04">Quantity</label>
                                                                                            <input type="number" pattern="[0-9]+([.,][0-9]+)?" step="0.01" class="form-control" name="sample_qty" id="validationCustom04"  required>
                                                                                            <div class="valid-feedback">
                                                                                                    Looks good!
                                                                                                </div>
                                                                                                <div class="invalid-feedback">
                                                                                                    Please Enter Quantity.
                                                                                                </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-2">
                                                                                    <div class="row mb-3">
                                                                                        <div class="col-sm-12">
                                                                                            <label class="col-sm-8 col-form-label">Comments</label>
                                                                                            <input type="text" class="form-control" name="comments">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- row 3 End -->
                                                                    <!-- row 6 Start -->
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <div class="row">
                                                                                <div class="col-lg-3">
                                                                                     <div class="row mb-3">
                                                                                        <div class="col-sm-8">
                                                                                            <button type="submit" class="btn btn-primary w-md" style="background-color: #258C38;" name="sample">Save</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                           </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- row 6 End -->
                                                                </div>
                                                            </div>
                                                            <!-- card 2 end -->
                                                        </div>
                                                            <!-- Card Body End -->
                                                        </div> <!-- end col -->
                                                    </div>
                                                </form>

                                            <!-- new form end (18-Apr)-->
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        <!-- end add sample popup -->
                        <!-- /.modal -->
                        <!-- card 1 start -->
                        <div class="card">
                            <div class="card-body p-4">
                                <!-- row 1 Start -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="row mb-4">
                                                    <div class="col-lg-12">
                                                        <label class="col-sm-6 col-form-label">Brand Name</label>
                                                        <input type="text" class="form-control" value="{{get_batchcard.Brand_Name}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row mb-4">
                                                    <div class="col-lg-12">
                                                        <label class="col-sm-3 col-form-label">Chemical Name</label>
                                                        <input type="text" class="form-control" value="{{get_batchcard.Chemical_name}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row mb-4">
                                                    <div class="col-lg-12">
                                                        <label class="col-sm-3 col-form-label">Tank No.</label>
                                                        <input type="text" class="form-control" value="{{get_batchcard.Tank_Num}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- row 1End -->
                                <!-- row 2 Start -->
                                <div class="row">
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="row mb-4">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-6 col-form-label">SAP Code</label>
                                                        <input  type="text" class="form-control" value="{{get_batchcard.SAP_Code}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row mb-3">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-8 col-form-label">Batch Size KG</label>
                                                        <input type="text" class="form-control" value="{{get_batchcard.Batch_Size}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row mb-3">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-8 col-form-label">SPGR</label>
                                                        <input type="text" class="form-control" value="{{get_batchcard.SPGR}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="row mb-3">
                                                    <div class="col-sm-12">
                                                        <label class="col-sm-10 col-form-label">Batch Size KL</label>
                                                        <input type="text" class="form-control" value="{{get_batchcard.THBatch_Size}}" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- row 2 End -->
                                <!-- start table -->
                                <div class="col-xl-12">
                                    <div class="table-responsive">
                                        <table  class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline" style="table-layout: auto">
                                            <thead id="header">
                                            <tr>
                                                <th>Chemical Name</th>
                                                <th>Percentage</th>
                                                <th>Theoretical Quantity</th>
                                                <th>Total Quantity added</th>
                                            </tr>
                                            <tr>
                                                <td id="sort0"></td>
                                                <td id="sort1"></td>
                                                <td id="sort2"></td>
                                                <td id="sort3"></td>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i in chemicals %}
                                            <tr>
                                                <td>{{i.Name}}</td>
                                                <td>{{i.Target_Base}}</td>
                                                <td>{{i.theo_qty}}</td>
                                                <td>{{i.actual_qty}}</td>
                                            </tr>
                                            {%endfor%}
                                            </tbody>

                                            </table>
                                        </div>
                                        </div> <!-- end col -->
                                            <!-- end table -->
                                             <!-- row 3 start-->
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#edit">Print</button>
                                                </div>
                                            </div>
                                <!-- row 3 end-->
                            </div>
                        </div>
                        <!-- card 1 end -->
                        <!-- card 2 start-->
                        <div class="card">
                             <div class="card-body p-4">
                                 <div class="row">
                                     {%if "add_chemicals" in user_permissions %}
                                     <div class="col-xl-12">
                                         <button type="button" class="btn btn-primary waves-effect waves-light " data-bs-toggle="modal" data-bs-target="#sample">Create Sample</button>
                                     </div>
                                     {%endif%}
                                 </div>
                                 <div class="row">
                                     <div class="col-xl-12">
                                         <div class="table-responsive">
                                             <table  class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline" style="table-layout: auto">
                                                 <thead id="header">
                                                 <tr>
                                                     <th>Sample Type</th>
                                                     <th>Date</th>
                                                     <th>Time</th>
                                                     <th>Quantity</th>
                                                     <th>Comments</th>
                                                     <th>Status</th>
                                                 </tr>
                                                 <tr>
                                                     <td id="sort0"></td>
                                                     <td id="sort1"></td>
                                                     <td id="sort2"></td>
                                                     <td id="sort3"></td>
                                                     <td id="sort4"></td>
                                                     <td id="sort5"></td>
                                                 </tr>
                                                 </thead>
                                                 <tbody>
                                                 {% for list in sample_data%}
                                                 <tr>
                                                     <td>{{list.sample_type}}</td>
                                                     <td>{{list.created_date}}</td>
                                                     <td>{{list.created_time}}</td>
                                                     <td>{{list.quantity}}</td>
                                                     <td>{{list.comments}}</td>
                                                     <td>{{list.status}}</td>
                                                 </tr>
                                                 {%endfor%}
                                                 </tbody>
                                            </table>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <!-- card 2 end -->
                        <!-- card 3 start-->
                        <div class="card">
                             <div class="card-body p-4">
                                 <div class="row">
                                     <div class="col-xl-12">
                                         {%if "add_chemicals" in user_permissions %}
                                         <button type="button" class="btn btn-primary waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#register">Add Chemical</button>
                                         {%endif%}
                                     </div>
                                 </div>
                                 <div class="row">
                                     <div class="col-xl-12">
                                         <div class="table-responsive">
                                             <table  class="table table-bordered dt-responsive nowrap w-100 dataTable no-footer dtr-inline" style="table-layout: auto">
                                                 <thead id="header">
                                                 <tr>
                                                     <th>Chemical Name</th>
                                                     <th>Percentage</th>
                                                     <th>Quantity Added</th>
                                                     <th>Date and Time</th>
                                                     <th>Load Cell Start</th>
                                                     <th>Load Cell End</th>
                                                     <th>Load Cell Reading</th>
                                                     <th>Operator</th>
                                                 </tr>
                                                 <tr>
                                                    <td id="sort0"></td>
                                                    <td id="sort1"></td>
                                                    <td id="sort2"></td>
                                                    <td id="sort3"></td>
                                                    <td id="sort4"></td>
                                                    <td id="sort5"></td>
                                                    <td id="sort6"></td>
                                                    <td id="sort7"></td>
                                                 </tr>
                                                 </thead>
                                                 <tbody>
                                                 {% for list in lists%}
                                                 <tr>
                                                    <td>{{list.ChemcialName}}</td>
                                                    <td>{{list.Percentage}}</td>
                                                    <td>{{list.QuantityAdded}}</td>
                                                    <td>{{list.DateTime}}</td>
                                                    <td>{{list.LoadCellStart}}</td>
                                                    <td>{{list.LoadCellEnd}}</td>
                                                    <td>{{list.LoadCellReading}}</td>
                                                    <td>{{list.created_by}}</td>
                                                 </tr>
                                                 {%endfor%}
                                                 </tbody>
                                             </table>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                        </div>
                        <!-- card 3 end -->
                        <!-- card 4 start -->
                        <div class="card">
                             <div class="card-body p-4">
                                 <div class="row">

                                     <div class="col-xl-3">
                                         {%if "add_chemicals" in user_permissions %}
                                         <form action="{% url 'completebatchcard' get_batchcard.BatchCardNo %}">
                                            <button type="submit" class="btn btn-primary waves-effect waves-light" name="save">Save</button>
                                            <button type="submit" class="btn btn-primary waves-effect waves-light" name="submit" >Submit</button>
                                         </form>
                                         {% endif %}
                                     </div>
                                     <div class="col-xl-3">
                                     </div>
                                     <div class="col-xl-3">
                                     </div>
                                 </div>
                            </div>
                        </div>
                        <!-- card 4 end -->
                    </div>
                </div>
                {% include 'footer.html' %}
            </div>
            <!-- end main content-->
        </div>
        <!-- END layout-wrapper -->

        <!-- JAVASCRIPT -->
        <script src="{% static 'libs/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'libs/metismenu/metisMenu.min.js' %}"></script>
        <script src="{% static 'libs/simplebar/simplebar.min.js' %}"></script>
        <script src="{% static 'libs/node-waves/waves.min.js' %}"></script>
        <script src="{% static 'libs/feather-icons/feather.min.js' %}"></script>
        <!-- pace js -->
        <script src="{% static 'libs/pace-js/pace.min.js' %}"></script>

        <!-- pristine js -->
        <script src="{% static 'libs/pristinejs/pristine.min.js' %}"></script>

        <!-- Alert init js -->
        <script src="{% static 'js/pages/alert.init.js' %}"></script>

        <!-- form validation -->
        <script src="{% static 'js/pages/form-validation.init.js' %}"></script>

        <script src="{% static 'js/app.js' %}"></script>

        <!-- Required datatable js -->
        <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>

        <!-- Buttons examples -->
        <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
        <script src="{% static 'libs/jszip/jszip.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/pdfmake.min.js' %}"></script>
        <script src="{% static 'libs/pdfmake/build/vfs_fonts.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>

        <!-- Responsive examples -->
        <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>

        <!-- Datatable init js -->
        <!-- <script src="{% static 'js/pages/datatables.init.js' %}"></script> -->



        <script>
            $(document).ready(function () {
            $("#datatable").DataTable(),
                $('#datatable-buttons thead tr')

                var table = $('#datatable-buttons').DataTable({
                    orderCellsTop: true,
                    fixedHeader: true,
                    lengthChange: true,
                    scrollX: true,
                    initComplete: function () {

                        this.api().columns(1).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons thead tr #sort1')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })

                        this.api().columns(2).every(function () {
                            var column = this;
                            var select = $(' <select class="form-select"><option value=""></option></select>')
                                // .appendTo(myTable.header())
                                .appendTo('#datatable-buttons thead tr #sort2')
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );

                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });

                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        })
                    },
                });
                $(".dataTables_length select").addClass("form-select form-select-sm")
            });
        </script>

        <!-- clear form -->
        <script>
            function clearAdd() {
                document.getElementById("add-form").reset();
            }
        </script>

        <!-- clear form -->
        <script>
            function clearEdit() {
                document.getElementById("edit-form").reset();
            }
        </script>

         <script>
            $("#username").on("change",function(){
                console.log("change")
                var aid = this.value
                // $(this).attr("data-uid");
                console.log("UPdatebtn pREsseS",aid)

                $.ajax
                ({
                    method : "GET",
                    url : `/user-update-data/${aid}/`,

                    success: function(response)
                    {
                        r = response.data;
                        console.log(r);
                        document.getElementById("uid").value = r[0].id;
                        document.getElementById("username").value = r[0].name;
                        document.getElementById("password").value = r[0].password;
                        document.getElementById("group-name").value = r[0].grp_name;
                        document.getElementById("department-name").value = r[0].dep_name;
                        document.getElementById("status1").value = r[0].status;
                        document.getElementById("password-change").value = r[0].cpassword;
                    }
                });
            });
        </script>

        <!-- <script>
            !function(){
                "use strict";
                window.addEventListener("load",function(){
                    var e=document.getElementsByClassName("needs-validation");
                    Array.prototype.filter.call(e,function(t){
                        t.addEventListener("submit",function(e){
                            !1===t.checkValidity()&&(e.preventDefault(),e.stopPropagation()),
                            t.classList.add("was-validated")
                            // if (document.getElementsByClassName("form-control").length + document.getElementsByClassName("form-select").length-2 == 4) {
                            // if ($(".invalid-feedback:visible").length == 0) {
                            //     $('#modal').modal('show');
                            // }
                        },!1)
                    })
                },!1)
            }()
        </script> -->
        <!-- <script>
            $("#submit-form").on('click', function(evt) {
            // .addEventListener("click", function(evt) {
                if ($(".invalid-feedback:visible").length == 0) {
                    alert('Ajax called')
                    $.ajax ({
                        method: "POST",
                        url: `/verify-admin/`,
                        data: {
                            csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[1].value,
                            user: document.getElementById('v-username').value,
                            pass: document.getElementById('v-password').value,
                        },
                        success: function(response) {
                            alert('Success')
                            r = response.data;
                            console.log(r);
                            if (r.valid == "YES") {
                                alert('Yes')
                            }
                            else {
                                alert('No')
                                evt.preventDefault();
                                evt.stopPropagation();
                            }
                        }
                    })
                }
            })
        </script> -->
        <!--
        <script>
            !function ()
            {
                "use strict";
                window.addEventListener("load", function ()
                {
                    var e = document.getElementsByClassName("needs-validation-add");
                    Array.prototype.filter.call(e, function (t)
                    {
                        console.log('add function')
                        t.addEventListener("submit", function (e)
                        {
                            !1 === t.checkValidity() && (e.preventDefault(), e.stopPropagation()), t.classList.add("was-validated")
                            if ($(".invalid-feedback:visible").length == 0 && !$('#modal-add').hasClass('show')) {
                                $('#modal-add').modal('show') && (e.preventDefault(), e.stopPropagation());
                                $('#register').modal('hide');
                            }
                            else if ($(".invalid-feedback:visible").length == 0 && $(".valid-feedback:visible").length > 0 && $('#modal-add').hasClass('show')) {
                                e.preventDefault(), e.stopPropagation()
                                // $("#submit-form").on('click', function() {
                                    if ($(".invalid-feedback:visible").length == 0 && $(".valid-feedback:visible").length > 0) {
                                        $.ajax ({
                                            method: "POST",
                                            url: `/verify-admin/`,

                                            data: {
                                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[1].value,
                                                user: document.getElementById('v-add-username').value,
                                                pass: document.getElementById('v-add-password').value,
                                            },
                                            success: function(response) {
                                                // r = response.data;
                                                // console.log(r);
                                                if (response.data.valid == "YES") {
                                                    $("#add-form").trigger('submit', [true]);
                                                }
                                                else {
                                                    e.preventDefault(), e.stopPropagation()
                                                    $('#alert_placeholder').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">Invalid Admin Credentials!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>')
                                                }
                                            }
                                        })
                                    }
                                // })
                            }
                            else {
                                e.preventDefault(), e.stopPropagation()
                            }
                        }, !1)
                    })
                }, !1)
            }()
        </script>

        <script>
            !function ()
            {
                "use strict";
                window.addEventListener("load", function ()
                {
                    var e = document.getElementsByClassName("needs-validation-edit");
                    Array.prototype.filter.call(e, function (t)
                    {
                        t.addEventListener("submit", function (e)
                        {
                            !1 === t.checkValidity() && (e.preventDefault(), e.stopPropagation()), t.classList.add("was-validated")
                            if ($(".invalid-feedback:visible").length == 0 && !$('#modal-edit').hasClass('show')) {
                                $('#modal-edit').modal('show') && (e.preventDefault(), e.stopPropagation());
                                $('#edit').modal('hide');
                            }
                            else if ($(".invalid-feedback:visible").length == 0 && $(".valid-feedback:visible").length > 0 && $('#modal-edit').hasClass('show')) {
                                e.preventDefault(), e.stopPropagation()
                                // $("#submit-form").on('click', function() {
                                    if ($(".invalid-feedback:visible").length == 0 && $(".valid-feedback:visible").length > 0) {
                                        $.ajax ({
                                            method: "POST",
                                            url: `/verify-admin/`,

                                            data: {
                                                csrfmiddlewaretoken: document.getElementsByName('csrfmiddlewaretoken')[0].value,
                                                user: document.getElementById('v-edit-username').value,
                                                pass: document.getElementById('v-edit-password').value,
                                            },
                                            success: function(response) {
                                                // r = response.data;
                                                // console.log(r);
                                                if (response.data.valid == "YES") {
                                                    $("#edit-form").trigger('submit', [true]);
                                                }
                                                else {
                                                    e.preventDefault(), e.stopPropagation()
                                                    $('#alert_placeholder').html('<div class="alert alert-danger alert-dismissible fade show" role="alert">Invalid Admin Credentials!<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>')
                                                }
                                            }
                                        })
                                    }
                                // })
                            }
                            else {
                                e.preventDefault(), e.stopPropagation()
                            }
                        }, !1)
                    })
                }, !1)
            }()
        </script>
        -->
    </body>
</html>