<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appSettings>
		<add key="PYTHONPATH" value="E:\AdamaWebApplication\adama_development\adama_dev"/>
		<!-- The handler here is specific to Bottle; see the next section. -->
		<add key="WSGI_HANDLER" value="django.core.wisgi.get_wsgi_application()"/>
		<add key="DJANGO_SETTINGS_MODULE" value="adama_dev.settings"/>
	</appSettings>
    <system.webServer>
        <handlers>
            <add name="Django Handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="E:\AdamaWebApplication\adama_development\adamaenv\Scripts\python.exe|E:\AdamaWebApplication\adama_development\adamaenv\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
